/* .search-bar{
    width: 90%;
    margin: auto;
    margin-top: 35px; 
} */

.search-bar input[type="text"]{
    padding: 10px 0px 10px 10px;
    background: rgb(238, 236, 236);
    width: 85%;
    border: none;
    /* display: none; */
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
}

.search-bar input[type="text"]:focus,button:focus{
    outline: none;
}

.search-bar button{
    padding: 10px 10px 10px 0;
    background: rgb(238, 236, 236);
    border: none;
    width: 10%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -5px;
}

.search-bar button:hover{
    cursor: pointer;
    background: #faf9f9;
}
